<ion-view hide-nav-bar="true">
 	<ion-content scroll="false">
 		<div ng-show="vm.isOnline" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyC1RlpsPiVY1X4AR5l2xPKD3A9bRkf3oq4">
  			<ng-map street-view-control="false" center="37.960990, 23.707768" zoom="6" min-zoom="3" ng-style="{'height':vm.mapHeight}">
  		  		<custom-control id="refreshButton" position="RIGHT_BOTTOM" index="1" ng-click="vm.setBounds()">
      				<div class = "icon icon map-icon ion-refresh mapButton"></div>
    			</custom-control>
  			</ng-map>
  		</div>
  		<div ng-show="!vm.isOnline" class="mapIsHidden" >
  			<div class="verticalCenter">
  				<div class="noConnectionText" ng-cloak>{{'no_connection_msg' | translate}}</div>
  			</div>
  		</div>
    </ion-content>
</ion-view>
