<ion-view view-title="Settings">
  <ion-content class="padding">
        <ion-list>
      
      <ion-item>
        <div class="row">
          <div class="col"><label class="control-label">Range:</label></div>
          <div class="col">
            <input type="range" class="form-control" ng-attr-min="0" ng-attr-max="10"
			   	    ng-model="vm.earthquake.range">
			   	</div>
			   </div>
      </ion-item>
      
      <ion-item>
        <div class="row">
          <div class="col"><label class="control-label">Last Hours:</label></div>
          <div class="col">
            <input type="range" class="form-control" ng-attr-min="1" ng-attr-max="48"
			   	    ng-model="vm.earthquake.hours">
			   	</div>
			   </div>
			   
      </ion-item>
      
      
    </ion-list>
  </ion-content>
</ion-view>
