<ion-view hide-nav-bar="true">
	<ion-content>
		<div class="list">
		
			<ion-item>
        		<div class="row">
          			<div class="col-left"><label class="control-label" ng-cloak>{{'lang_msg' | translate}}:</label></div>
          			<div class="col-right">
		  				<select class="nobackground" ng-init="vm.initLang()" ng-model="vm.lang">
      						<option selected class="black" value="en">{{'english_msg' | translate}}</option>
      						<option class="black" value="gr">{{'greek_msg' | translate}}</option>
    					</select>
			   		</div>
			   	</div>
			</ion-item>
		
			<ion-item>
         		<div class="row"><label class="control-label" ng-cloak>{{'range_msg' | translate}}: {{vm.earthquake.range | number:1}}</label></div>
          		<div class="row">
					<input type="range" class="form-control row" min="0" max="5" step="0.2" ng-change="vm.updateRange(vm.earthquake.range)"
			   	    	ng-model="vm.earthquake.range">
			   	</div>
      		</ion-item>
      
      		<ion-item>
          		<div class="row"><label class="control-label row" ng-cloak>{{'last_hours_msg' | translate}}: {{vm.earthquake.hours}}</label></div>
          		<div class="row">
            	<input type="range" class="form-control row" min="01" max="48" ng-change="vm.updateHours(vm.earthquake.hours)"
			   	    ng-model="vm.earthquake.hours">
			   	</div>			   
      		</ion-item>

		</div>
	</ion-content>
</ion-view>
